<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />
  <title>Weather App </title>
</head>

<body>
  <!-- <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="../" class="navbar-brand">Weather Alert App <span style="color: rgb(42, 30, 180);"> 
        </span> </a>
      <a href="https://openweathermap.org" class="navbar-tech">OpenWeather - Get Your API</a>
    </div>
  </div> -->
  <!-- <br /><br /> <br> -->

  <div
    class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url('https://home.openweathermap.org/assets/history_banner-3e72b47aa91f9e874b5e56197a88feacafd37ad4eaccfa3974302b37004ec7f5.png');"
  >
    <h1 class="mb-3 h2 text-light">Weather Alert App</h1>
  </div>
  <!-- <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <h1 class="display-5">Weather Alert App </h1>

    <img
      src="https://home.openweathermap.org/assets/history_banner-3e72b47aa91f9e874b5e56197a88feacafd37ad4eaccfa3974302b37004ec7f5.png"
      class="image" style="width:200px; margin-bottom:-50px; ">
  </div> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <form method="post" class="col-sm">
      {% csrf_token %}
      <div class=" input-group">

      <input type="text" class="form-control" name="city" placeholder="Choose Your City ...">
      <input type="text" class="form-control" name="mintemp" placeholder="Choose minimum temperature in ℃ ">
      <input type="text" class="form-control" name="maxtemp" placeholder="Choose maximum temperature in ℃ ">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </div>
      <form>
  </nav>
  <br><br>
  <div class="row">
    {% if country_code and coordinate and temp and pressure and humidity %}
    <div class="col  justify-content-center">

      {% if alertmsg %}
        <div class="alert alert-danger" role="alert">
          {{alertmsg}}
        </div>
      {% endif %}
      
      <div class=" card text-white bg-light mb-6">
        <div class=" card-body">
          <h4><span class="badge badge-primary">Country Code :</span> {{country_code}}</h4>
          <h4><span class="badge badge-primary">Coordinates [X,Y] :</span> {{coordinate}}</h4>
          <h4><span class="badge badge-primary">Temperature in Celsius :</span> {{temp}}</h4>
          <h4><span class="badge badge-primary">City :</span> {{city}} </h4>
          <h4><span class="badge badge-primary">Humidity : </span> {{humidity}}</h4>
          <h4><span class="badge badge-primary">Forecast : </span> {{main}} <img
              src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image" style="width:70px"></h4>
          <h4><span class="badge badge-primary">Description : </span> {{description}}</h4>
        </div>
        {% endif %}
      </div>
      
    </div>
    
  </div>
  
</body>

</html>